.button {
  color: $basic-white;
  background-color: $basic_green;
  padding: 8px 10px;
  text-align: center;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}
