.example {
  padding: 27px $container-padding-mobile 35px $container-padding-mobile;
  color: $basic-black;
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    padding: 43px $container-padding-tablet 32px $container-padding-tablet;
    background-color: $basic-white;
    background-image: linear-gradient(to top, #eaeaea 468px, transparent 468px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to top, #eaeaea 455px, transparent 455px);
    padding-bottom: 70px;
    padding-top: 13px;
    padding-left: 0;
  }
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;
  text-align: start;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
  }
}

.example__wpapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: $desktop-width;
    margin: 0 auto;
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
  }
}

.example__block {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 436px;
  }
}

.example__text {
  margin: 0;
  padding-top: 33px;
  color: $color-text;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: start;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: 70px;
  }
}


.example__title-result {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 43px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
    gap: 9px;
    margin-top: 63px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 40px;
  }
}

.example__title-result-container {
  @media (min-width: $tablet-width) {
    align-self: center;
    justify-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    gap: 42px;
    margin-top: 52px;
  }

  @media (min-width: $desktop-width) {

    margin-top: 68px;
  }
}

.example__list-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}

.example__item-term {
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 18px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid $border-example;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 22px;
  }
}

.example__item-definition {
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $color-text;
  text-transform: lowercase;
  background-color: $dark-grey;
  text-align: center;
  width: 82px;
  margin-top: -10px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
    width: 142px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    background-color: $dark-grey;
    padding: 0 8px;
  }
}

.example__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__img-cat {
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.example__img-cat--close {
  @media (max-width: 767px) {
    display: none;
  }
}

.example__img-cat--before {
  @media (max-width: 767px) {
    height: 240px;
    width: 320px;
  }
}

.example__img-cat--after {
  @media (max-width: 767px) {
    height: 240px;
    width: 320px;
  }
}

.example__img-container {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: -195px;
    margin-right: 91px;
  }
}

// .example__img-wrapper {
//   @media (min-width: $desktop-width) {
//     margin-top: -234px;
//     margin-right: 48px;
//   }
// }
