.main-nav {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: auto;
  }
}


.main-nav__wrapper {
  margin: 0 auto;
  padding: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    min-width: 445px;
  }

  @media (min-width: $desktop-width) {

    min-width: 479px;
  }
}


.main-nav__item {
  text-transform: uppercase;
  border-top: 1px solid $border-list;
  padding: 21px 5px 24px 5px;
  text-align: center;

  // &:nth-last-child(1) {
  //   border-bottom: 1px solid $border-list;

  //   @media (min-width: $tablet-width) {
  //     border: none;
  //   }
  // }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 42px 5px 42px 5px;
  }
}

.main-nav__item--active {
  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
    border-bottom: 2px solid #68b738;
  }
}

.main-nav__item--active-one_page-max_width {
  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
    border-bottom: 2px solid $basic-white;
  }
}

.main-nav__list a {
  color: $basic-black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list--one_page-max_width a {
  @media (min-width: $desktop-width) {
    color: $basic-white;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}


.main-nav-closed {
  @media (max-width: 767px) {
    display: none;
  }
}
