.page-footer {

  background-color: $basic-grey;
}

.page-footer__wrapper {
  padding-left: $container-padding-mobile;
  padding-right: $container-padding-mobile;
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
    width: $desktop-width;
  }
}

.page-footer__container {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}


.page-footer__logo-container {
  padding: 39px 0 32px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}


.page-footer__logo {
  display: block;
  margin: 0 auto;
}
