.page-main {
  color: $basic-black;
  text-align: center;
}

.page-main__wrapper {
  margin: 0 auto;
  padding: 0;
}

.page-main__intro {
  margin: 0 0;
  color: $basic-white;
  background-color: $basic_green-2;
  background-image: linear-gradient(to top, $basic-white 170px, transparent 170px),
    url("../../img/back-page-main_intro.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}


.page-main__title {
  margin: 0;
  padding: 27px 35px 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.page-main__title-program {
  padding-left: 20px;
  text-align: start;
}

.page-main__subtitle {
  text-transform: uppercase;
  padding: 25px 35px 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

.page-main__select-program-link {
  display: block;
  margin: 0 20px;
}
