
.social-network {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}


.social-network__list {
  list-style: none;
  margin: 0 auto;
  padding: 20px 0 18px 0;
  width: 127px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 25px;
  }
}


.social-network__item-vk {
  fill: #666666;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social-network__item-vk:hover,
.social-network__item-vk:focus {
  fill: #68b738;
}

.social-network__item-instagram {
  fill: #666666;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-network__item-facebook {
  stroke: #666666;
  fill: transparent;

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.social-network__item-vk:hover,
.social-network__item-vk:focus,
.social-network__item-instagram:hover,
.social-network__item-instagram:focus {
  fill: #68b738;
}

.social-network__item-facebook:hover,
.social-network__item-facebook:focus {
  stroke: #68b738;
}


.social-network__item-facebook:active,
.social-network__item-instagram:active,
.social-network__item-vk:active {
  opacity: 0.3;
}


.page-footer__logo-container {
  cursor: pointer;
}

.page-footer__logo-container:hover,
.page-footer__logo-container:focus {
  opacity: 0.6;
}

.page-footer__logo-container:active {
  opacity: 0.3;
}
