
.social-network {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;

  @media (min-width: $tablet-width) {
    border: none;
  }
}


.social-network__list {
  list-style: none;
  margin: 0 auto;
  padding: 20px 0 18px 0;
  width: 127px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 25px;
  }
}

.social-network__item-facebook:hover path,
.social-network__item-instagram:hover path,
.social-network__item-vk:hover path,
.social-network__item-facebook:focus path,
.social-network__item-instagram:focus path,
.social-network__item-vk:focus path {
  stroke: #68b738;
}

.social-network__item-facebook:active path,
.social-network__item-instagram:active path,
.social-network__item-vk:active path {
  opacity: 0.3;
}

.copyright__link:hover path {
  fill: #68b738;
}

.copyright__link:active path {
  opacity: 0.3;
}

.copyright__link:active .copyright__organization {
  color: rgba($color: #444444, $alpha: 0.3);
}


.social-network__item-vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social-network__item-instagram {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-network__item-facebook {
  @media (min-width: $tablet-width) {
    width: 28px;
    height: 33px;
  }
}

.page-footer__logo-container {
  cursor: pointer;
}

// Это наверное надо делать сменой картинки
.page-footer__logo-container:active {
  opacity: 0.3;
}

.page-footer__logo-container:hover,
.page-footer__logo-container:focus {
  opacity: 0.6;
}
