.toggle-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    margin-top: -85px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 19px;
  }
}


.toggle-control__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  padding-left: 13px;
  padding-right: 13px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    margin-left: 21px;
    margin-right: 21px;
    padding: 0;

    &:hover,
    &:focus {
      border-bottom-style: solid;
      outline: none;
    }

    &:active {
      border: none;
      outline: none;
    }
  }
}
