$basic-black: #000000;
$basic-white: #ffffff;
$color-text: #444444;
$basic-grey: #f2f2f2;
$dark-grey: #eaeaea;
$basic_green: #68b738;
$background-green: rgba(104, 183, 56, 0.85);
$border-list: #e6e6e6;
$contact-text: #111111;
$border: #d9d9d9;
$border-example-item: #c4c4c4;
